name: Java CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    paths-ignore:
      - renovate.json5
      - renovate.json
      - README.md

jobs:
  build:
    # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Cache Maven packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          path: .m2_repo
      - name: Build and Test with Maven
        run: ./mvnw -Dmaven.repo.local=.m2_repo -B clean verify
      - name: Docker Setup Docker
        # You may pin to the exact commit or the version.
        # uses: docker/setup-docker-action@370a7dad4b8ce8dbf00f9363e1652e5074dd6abe
        uses: docker/setup-docker-action@e61617a16c407a86262fb923c35a616ddbe070b3 # v4.6.0
      - name: Build and Test run.sh
        run: DEBUG=1 ./run.sh
      - name: test docker compose
        run: docker compose build
