name: Java CI

permissions:
  contents: read
  pull-requests: write

on:
  push:
    paths-ignore:
      - renovate.json5
      - renovate.json
      - README.md

jobs:
  build:
    # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Cache Maven packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          path: .m2_repo
      - name: Build and Test with Maven
        run: ./mvnw -Dmaven.repo.local=.m2_repo -B clean verify
      - name: Docker Setup Docker
        # You may pin to the exact commit or the version.
        # uses: docker/setup-docker-action@370a7dad4b8ce8dbf00f9363e1652e5074dd6abe
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0
      - name: Build and Test run.sh
        run: DEBUG=1 ./run.sh
      - name: test docker compose
        run: docker compose build
